html body .section-container {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #d38312 0px, #a83279 100%) repeat scroll 0 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}