html, body {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}
table.contact td {
    padding: 5px;
}
ul.disc{
    list-style-type: disc;
    padding-left: 16px;
}
ul.disc li{
    list-style-type: disc;
}
